body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
  text-align: center;
}

#content {
  transition: transform 0.1s linear;
}


